<template>
  <div class="input-group input-group-sm">
    <select class="form-select form-select-sm" v-model="selectedColumnType">
      <option value="VARCHAR">VARCHAR</option>
      <option value="NUMERIC">NUMERIC</option>
      <option value="BOOLEAN">BOOLEAN</option>
      <option value="TIMESTAMP">TIMESTAMP (without time zone)</option>
      <option value="TIMESTAMPTZ">TIMESTAMP (with timezone)</option>
    </select>
    <button class="btn btn-sm"
            :class="[type !== selectedColumnType ? 'btn-primary' : 'invisible']"
            @click="changeHeader"
    ><i class="bi-check-lg"></i>
    </button>
  </div>
</template>

<script>
import { useToast} from "vue-toastification";
import ColumnTypecastErrorTableToast from "./ColumnTypecastErrorTableToast";

export default {
  name: "ExcelTableColumnType",
  components: {ColumnTypecastErrorTableToast},
  props: {
    index: Number,
    type: String,
  },
  data() {
    return {
      selectedColumnType: '',
    };
  },
  setup() {
    const toast = useToast();
    return { toast };
  },
  created() {
    this.selectedColumnType = this.type;
  },
  computed: {
    selectedTableName() {
      return this.$store.state.selectedTableName;
    },
    files() {
      return this.$store.state.files;
    },
    editedFile() {
      return this.$store.state.editedFile;
    },
  },
  methods: {
    changeHeader() {
      let table = this.editedFile.tables.find(table => table.name === this.selectedTableName);

      if (table !== undefined) {

        switch (this.selectedColumnType) {
          case "VARCHAR":
            this.convertColumnToVarchar(table);
            break;
          case "NUMERIC":
            this.convertColumnToNumeric(table);
            break;
          case "BOOLEAN":
            this.convertColumnToBoolean(table);
            break;
          case "TIMESTAMP":
          case "TIMESTAMPTZ":
            this.convertColumnToDate(table);
            break;
        }

        console.log(table);
      }
    },
    convertColumnToVarchar(table) {
      table.data.forEach(row => row[this.index] = String(row[this.index]));
      table.header[this.index].type = this.selectedColumnType;
      this.toast.success(`Type of column '${table.header[this.index].name}' changed to ${this.selectedColumnType}.`);
    },
    convertColumnToNumeric(table) {
      // find all rows indexes, where the value cannot be casted to number
      let errRowIdxs = [];
      table.data.forEach((row, rowIdx) => {
        if (isNaN(+row[this.index]))
          errRowIdxs.push(rowIdx);
      });

      // if there we no erroneous rows
      if (errRowIdxs.length === 0) {
        table.data.forEach(row => row[this.index] = +row[this.index]);
        table.header[this.index].type = this.selectedColumnType;
        this.toast.success(`Type of column '${table.header[this.index].name}' changed to ${this.selectedColumnType}.`);
      } else {
        // show table of erroneous rows
        this.toast.error({
          component: ColumnTypecastErrorTableToast,
          props:  {
            table: table,
            colIdx: this.index,
            colName: table.header[this.index].name,
            requestedType: this.selectedColumnType;
            rowIdxs: errRowIdxs  // Optional
          }
        }, {
          timeout: false
        });
      }
    },
    convertColumnToBoolean(table) {
      if (table.data.every(row => row[this.index] === 1 || row[this.index] === 0)) {
        table.data.forEach(row => row[this.index] = Boolean(row[this.index]));
        table.header[this.index].type = this.selectedColumnType;
        this.toast.success(`Type of column '${table.header[this.index].name}' changed to ${this.selectedColumnType}.`);
      } else {
        this.toast.error(`Type of column '${table.header[this.index].name}' cannot be changed to ${this.selectedColumnType}.`);
      }
    },
    convertColumnToDate(table) {
      if (table.data.every(row => (typeof row[this.index] == 'number') || (!isNaN(Date.parse(row[this.index]))))) {
        table.data.forEach(row => {
          const cellValue = row[this.index];
          if (typeof cellValue === 'string') {
            row[this.index] = new Date(Date.parse(cellValue)).toUTCString();
          } else {
            row[this.index] = new Date((row[this.index] - (25567 + 2)) * 86400 * 1000).toUTCString();
          }
        });
        table.header[this.index].type = this.selectedColumnType;
        this.toast.success(`Type of column '${table.header[this.index].name}' changed to ${this.selectedColumnType}.`);
      } else {
        this.toast.error(`Type of column '${table.header[this.index].name}' cannot be changed to ${this.selectedColumnType}.`);
      }
    }
  }
}
</script>

<style scoped>
</style>