<template>
  <input type="text"
         :value="tableDataCellValue"
         @input="onInput($event.target.value.trim())"
         class="form-control form-control-sm custom-cell-input"
         :class="{'is-invalid': isCellInvalid()}"
  >
</template>

<script>
import moment from "moment/moment.js";

export default {
  name: "ExcelTableCell",
  props: {
    rowIdx: Number,
    colIdx: Number,
    colType: String
  },
  data() {
    return {
      isCellValid: true
    };
  },
  computed: {
    editedFile() {
      return this.$store.getters.editedFile;
    },
    selectedTableName() {
      return this.$store.getters.selectedTableName;
    },
    table() {
      return this.$store.getters.selectedTable;
    },
    tableHeader() {
      return this.$store.getters.selectedTableHeader;
    },
    tableData() {
      return this.$store.getters.selectedTableData;
    },
    tableDataCellValue: {
      get() {
        return this.$store.getters.selectedTableData[this.rowIdx][this.colIdx];
      },
      set(value) {
        this.$store.commit('setTableDataCellValue', {rowIdx: this.rowIdx, colIdx: this.colIdx, value: value});
      }
    },
    acceptedDateFormats() {
      return this.$store.getters.acceptedDateFormats;
    }
  },
  methods: {
    onInput(inputValue) {
      switch (this.colType) {
        case "NUMERIC":
          this.tableDataCellValue = isNaN(+inputValue) ? inputValue : +inputValue;
          break;
        case "BOOLEAN":
          if (inputValue === 'true')
            this.tableDataCellValue = true;
          else if (inputValue === 'false')
            this.tableDataCellValue = false;
          else
            this.tableDataCellValue = inputValue;
          break;
        default:
          this.tableDataCellValue = inputValue;
      }
    },
    isCellInvalid() {
      switch (this.colType) {
        case "VARCHAR":
          return false;
        case "NUMERIC":
          return isNaN(+this.tableDataCellValue);
        case "BOOLEAN":
          return typeof this.tableDataCellValue !== 'boolean';
        case "TIMESTAMP":
        case "TIMESTAMPTZ":
          return this.acceptedDateFormats.every(format =>
              !moment(this.tableDataCellValue, format, true).isValid())
      }
    }
  }
}
</script>

<style scoped>
.custom-cell-input {
  border-radius: 0;
  border: none;
}
</style>