<template>
  <span class="me-2">Sheet:</span>
  <div class="btn-group btn-group-sm mb-2">
    <input class="form-control form-control-sm"
           type="text"
           v-model.trim="inputTableName"
    >
    <button class="btn btn-primary btn-sm"
            v-if="selectedTableName !== inputTableName"
            @click="changeTableName"
    ><i class="bi-check-lg"></i>
    </button>
    <button type="button"
            class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
            data-bs-toggle="dropdown"
            aria-expanded="false"
    ></button>
    <ul class="dropdown-menu">
      <li v-for="(tableName, idx) in tableNames" :key="`${tableName} - ${idx}`">
        <a class="dropdown-item" href="#" @click="setTable(tableName)">{{ tableName }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ExcelTableSelect",
  data() {
    return {
      inputTableName: ''
    };
  },
  created() {
    this.inputTableName = this.selectedTableName;
  },
  computed: {
    selectedTableName: {
      get() {
        return this.$store.getters.selectedTableName;
      },
      set(value) {
        this.$store.commit('setSelectedTableName', value);
      }
    },
    tableNames() {
      return this.$store.getters.tableNames;
    },
    editedFile() {
      return this.$store.getters.editedFile;
    }
  },
  watch: {
    selectedTableName(newName) {
      this.inputTableName = newName;
    }
  },
  methods: {
    setTable(tableName) {
      this.selectedTableName = tableName;
      this.inputTableName = tableName;
    },
    changeTableName() {
      let table = this.editedFile.tables.find(table => table.name === this.selectedTableName);

      if (table !== undefined) {
        table.name = this.inputTableName;
        this.selectedTableName = this.inputTableName;
      }
    }
  }
}
</script>

<style scoped>

</style>