<template>
  <div class="input-group input-group-sm">
    <input type="text"
           class="form-control form-control-sm"
           v-model.trim="inputText"
           maxlength="20"
    >
    <button class="btn btn-sm"
            :class="[name !== inputText ? 'btn-primary' : 'invisible']"
            @click="changeHeader"
    ><i class="bi-check-lg"></i>
    </button>
  </div>
</template>

<script>
export default {
  name: "ExcelTableColumnName",
  props: {
    index: Number,
    name: String,
  },
  data() {
    return {
      inputText: ''
    };
  },
  created() {
    this.inputText = this.name;
  },
  computed: {
    selectedTableName() {
      return this.$store.state.selectedTableName;
    },
    files() {
      return this.$store.state.files;
    },
    editedFile() {
      return this.$store.state.editedFile;
    },
  },
  methods: {
    changeHeader() {
      let table = this.editedFile.tables.find(table => table.name === this.selectedTableName);

      if (table !== undefined) {
        table.header[this.index].name = this.inputText;
      }
    }
    // createNewXlsxFile() {
    //   let wb = XLSX.utils.book_new();
    //   this.excelTables.forEach(table => {
    //     wb.SheetNames.push(table.name);
    //     wb.Sheets[table.name] = XLSX.utils.aoa_to_sheet([table.header.map(col => col.name), ...table.data]);
    //   });
    //
    //   const wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST: false, type: 'array'});
    //   return new File([wbout], this.editedFile.name, {
    //     type: 'application/octet-stream',
    //     lastModified: new Date()
    //   });
    // }
  }
}
</script>

<style scoped>

</style>