<template>
  <ExcelTableSelect/>

  <i v-show="tableContainsError"
     class="bi-exclamation-circle-fill ms-2"
     ref="tooltipFileDataError"
     style="cursor: pointer; font-size: 1.2rem; color: #DC3545"
     data-bs-toggle="tooltip"
     data-bs-placement="right"
     title="The sheet contains errors."
  ></i>

  <div class="overflow-auto" style="max-height: 80vh">
    <table class="table table-bordered">
      <thead class="text-center">
      <tr>
        <ExcelTableHeaderColumn
            v-for="(head, headIdx) in tableHeader"
            :idx="headIdx"
            :key="`${table.name}-${head}-${headIdx}`"
        />
      </tr>
      </thead>
      <tbody>
      <tr v-for="(row, rowIdx) in tableData" :key="rowIdx">
        <td v-for="(col, colIdx) in row" class="p-1" :key="`${table.name}-${rowIdx}-${colIdx}`">
          <ExcelTableCell
              :row-idx="rowIdx"
              :col-idx="colIdx"
              :col-type="tableHeader[colIdx].type"
          />
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import ExcelTableSelect from "./ExcelTableSelect";
import ExcelTableHeaderColumn from "./ExcelTableHeaderColumn";
import ExcelTableCell from "./ExcelTableCell";
import Tooltip from "bootstrap/js/src/tooltip";
import moment from "moment/moment.js";

export default {
  name: "ExcelTableComp",
  components: {
    ExcelTableSelect,
    ExcelTableHeaderColumn,
    ExcelTableCell
  },
  mounted() {
    new Tooltip(this.$refs.tooltipFileDataError);
  },
  props: {},
  data() {
    return {};
  },
  computed: {
    editedFile() {
      return this.$store.getters.editedFile;
    },
    selectedTableName() {
      return this.$store.getters.selectedTableName;
    },
    tableHeader() {
      return this.$store.getters.selectedTableHeader;
    },
    tableData() {
      return this.$store.getters.selectedTableData;
    },
    table() {
      return this.$store.getters.selectedTable;
    },
    acceptedDateFormats() {
      return this.$store.getters.acceptedDateFormats;
    },
    tableContainsError() {
      return this.tableData.some(row => {
        return row.some((cell, colIdx) => {
          switch (this.tableHeader[colIdx].type) {
            case "NUMERIC":
              return isNaN(+cell);
            case "BOOLEAN":
              return typeof cell !== 'boolean';
            case "TIMESTAMP":
            case "TIMESTAMPTZ":
              return this.acceptedDateFormats.every(format => !moment(cell, format, true).isValid());
            default:
              return false;
          }
        })
      });
    }
  },
  methods: {}
}
</script>

<style scoped>

</style>