<template>
  <th style="position: sticky; top: 0; color: white"
      class="bg-dark p-2"
      scope="col"
  >
    <input type="text"
           v-model="tableHeader[idx].name"
           class="custom-header-input mb-1"
    >
    <select class="custom-select"
            v-model="selectedColumnType"
            @change="onColumnTypeChange">
      <option value="VARCHAR">VARCHAR</option>
      <option value="NUMERIC">NUMERIC</option>
      <option value="BOOLEAN">BOOLEAN</option>
      <option value="TIMESTAMP">TIMESTAMP (without time zone)</option>
      <option value="TIMESTAMPTZ">TIMESTAMP (with timezone)</option>
    </select>
    <!--          <p style="font-size: 10px" class="m-0 text-end">{{ head.type }}</p>-->
  </th>
</template>

<script>
import {useToast} from "vue-toastification";
import moment from "moment/moment.js";

export default {
  name: "ExcelTableHeaderColumn",
  props: {
    idx: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      selectedColumnType: '',
    };
  },
  setup() {
    const toast = useToast();
    return {toast};
  },
  created() {
    this.selectedColumnType = this.tableHeader[this.idx].type;
  },
  computed: {
    editedFile() {
      return this.$store.getters.editedFile;
    },
    selectedTableName() {
      return this.$store.getters.selectedTableName;
    },
    tableHeader() {
      return this.$store.getters.selectedTableHeader;
    },
    tableData() {
      return this.$store.getters.selectedTableData;
    },
    acceptedDateFormats() {
      return this.$store.getters.acceptedDateFormats;
    }
  },
  methods: {
    onColumnTypeChange() {
      switch (this.selectedColumnType) {
        case "VARCHAR":
          this.convertColumnToVarchar();
          break;
        case "NUMERIC":
          this.convertColumnToNumeric();
          break;
        case "BOOLEAN":
          this.convertColumnToBoolean();
          break;
        case "TIMESTAMP":
        case "TIMESTAMPTZ":
          this.convertColumnToDate();
          break;
      }
    },
    convertColumnToVarchar() {
      // convert data in column to selected type
      this.tableData.forEach(row => row[this.idx] = String(row[this.idx]));
      // set selected type in header
      this.tableHeader[this.idx].type = this.selectedColumnType;
      // log result
      this.toast.success(`Changed column '${this.tableHeader[this.idx].name}' to type ${this.selectedColumnType}.`);
    },
    convertColumnToNumeric() {
      let wasError = false;
      // convert data in column to selected type
      this.tableData.forEach(row => isNaN(+row[this.idx]) ? wasError = true : row[this.idx] = +row[this.idx]);
      // set selected type in header
      this.tableHeader[this.idx].type = this.selectedColumnType;

      // log result
      if (wasError)
        this.toast.warning(`Not all data could be cast to type ${this.selectedColumnType} in column '${this.tableHeader[this.idx].name}'.`);
      else
        this.toast.success(`Changed column '${this.tableHeader[this.idx].name}' to type ${this.selectedColumnType}.`);
    },
    convertColumnToBoolean() {
      let wasError = false;
      // convert data in column to selected type
      this.tableData.forEach(row => {
            switch (row[this.idx]) {
              case 1:
              case 'true':
              case true:
                row[this.idx] = true;
                break;
              case 0:
              case 'false':
              case false:
                row[this.idx] = false;
                break;
              default:
                wasError = true;
            }
          }
      );
      // set selected type in header
      this.tableHeader[this.idx].type = this.selectedColumnType;

      // log result
      if (wasError)
        this.toast.warning(`Not all data could be cast to type ${this.selectedColumnType} in column '${this.tableHeader[this.idx].name}'.`);
      else
        this.toast.success(`Changed column '${this.tableHeader[this.idx].name}' to type ${this.selectedColumnType}.`);
    },
    convertColumnToDate() {
      let wasError = false;
      // convert data in column to selected type
      this.tableData.forEach(row => {
        const cellValue = row[this.idx];
        if (typeof cellValue === 'string') {
          if (this.acceptedDateFormats.every(format => !moment(cellValue, format, true).isValid()))
            wasError = true;
        } else if (typeof cellValue === 'number') {
          const date = new Date((cellValue - (25567 + 2)) * 86400 * 1000).toISOString()
          row[this.idx] = moment.utc(date).format('DD/MM/YYYY hh:mm:ss A');
        } else
          wasError = true;
      });
      // set selected type in header
      this.tableHeader[this.idx].type = this.selectedColumnType;

      // log result
      if (wasError)
        this.toast.warning(`Not all data could be cast to type ${this.selectedColumnType} in column '${this.tableHeader[this.idx].name}'.`);
      else
        this.toast.success(`Changed column '${this.tableHeader[this.idx].name}' to type ${this.selectedColumnType}.`);
    }
  }
}
</script>

<style scoped>
.custom-header-input {
  border: none;
  outline: none;
  background-color: #212529;
  width: 100%;
  color: white;
  text-overflow: ellipsis;
}

.custom-header-input:focus {
  color: black;
  background-color: white;
}

.custom-select {
  outline: none;
  font-size: 80%;
  cursor: pointer;
}
</style>