<template>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Excel Tools</span>
    </div>
  </nav>

  <div class="container">
    <div class="row my-4">
      <div class="col-3">
        <div class="p-1 mb-4" @dragover.prevent @drop.prevent>
          <input class="form-control mb-2"
                 type="file"
                 multiple
                 @change="chooseFile"
                 accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          >
          <div class="text-center p-4 drop-zone" @drop.prevent="dropFile">
            <i class="bi-download" style="font-size: 2rem"></i>
            <p>Or drag the files here</p>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col" colspan="2">Files</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="file in files" :key="file" :class="{'table-active': editedFile?.name === file.name}">
            <td class="align-middle">{{ file.name }}</td>
            <td>
              <button class="btn btn-sm btn-success me-3" @click="exportFile(file)">
                <i class="bi-cloud-arrow-up me-2"></i>
                <span>Export</span>
              </button>
              <button class="btn btn-sm btn-primary" @click="showFile(file)">
                <i class="bi-pencil me-2"></i>
                <span>Edit</span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-9">
        <ExcelTableComp v-if="editedFile !== null"/>
      </div>
    </div>
  </div>
</template>

<script>
import XLSX from 'xlsx';
import ExcelTableComp from "./ExcelTableComp";
import axios from 'axios';

export default {
  name: 'Hello',
  components: {
    ExcelTableComp
  },
  data() {
    return {};
  },
  computed: {
    files: {
      get() {
        return this.$store.getters.files;
      },
      set(value) {
        this.$store.commit('setFiles', value);
      }
    },
    editedFile: {
      get() {
        return this.$store.getters.editedFile;
      },
      set(value) {
        this.$store.commit('setEditedFile', value);
      }
    },
    selectedTableName: {
      get() {
        return this.$store.getters.selectedTableName;
      },
      set(value) {
        this.$store.commit('setSelectedTableName', value);
      }
    }
  },
  methods: {
    chooseFile(event) {
      this.saveFiles(event.target.files);
    },
    dropFile(event) {
      this.saveFiles(event.dataTransfer.files);
    },
    saveFiles(files) {
      let selectedFiles = [...files].map(file => {
        let tableFile = {
          name: file.name,
          tables: null
        };

        let reader = new FileReader();
        reader.onload = () => {
          const fileData = new Uint8Array(reader.result);
          const wb = XLSX.read(fileData, {type: 'array'});
          tableFile.tables = this.convertWorkbookToExcelTables(wb);
        }
        reader.readAsArrayBuffer(file);

        return tableFile;
      });

      this.files = [...this.files, ...selectedFiles];
    },
    showFile(file) {
      this.editedFile = file;
      this.selectedTableName = file.tables[0].name;
    },
    convertWorkbookToExcelTables(wb) {
      let tables = [];
      let wbSheetNames = wb.SheetNames;

      for (let si = 0; si < wbSheetNames.length; ++si) {
        const wsName = wbSheetNames[si];
        const ws = wb.Sheets[wsName];
        const range = XLSX.utils.decode_range(ws['!ref']);
        // const ws_json = XLSX.utils.sheet_to_json(ws, {header: 1});

        let table = {
          name: wsName,
          header: [],
          data: []
        };

        for (let rowNum = range.s.r; rowNum <= range.e.r; rowNum++) {
          if (rowNum === range.s.r) {
            for (let colNum = range.s.c; colNum <= range.e.c; colNum++) {
              const cell = ws[XLSX.utils.encode_cell({r: rowNum, c: colNum})];
              const nextCell = ws[XLSX.utils.encode_cell({r: rowNum + 1, c: colNum})];

              // add header with corresponding type
              table.header.push({
                name: cell.v,
                type: this.getColumnTypeFromCellType(nextCell.t)
              });
            }
          } else {
            let row = [];
            for (let colNum = range.s.c; colNum <= range.e.c; colNum++) {
              const cell = ws[XLSX.utils.encode_cell({r: rowNum, c: colNum})];
              row.push(cell.v);
            }
            table.data.push(row);
          }
        }

        tables.push(table);
      }

      return tables;
    },
    getColumnTypeFromCellType(cellType) {
      switch (cellType) {
        case 's': // string
          return 'VARCHAR';
        case 'n': // number
        case 'd': // date
          return 'NUMERIC';
        case 'b': // boolean
          return 'BOOLEAN';
        default:
          return 'VARCHAR';
      }
    },
    async exportFile(file) {
      const config = {
        headers: {
          'Content-Type': 'application/json'
        }
      };

      const response = await axios.post('http://localhost:8090/api/excel/tables/export', file.tables, config);
      if (response.status === 200) {
        alert(response.data);
      } else {
        alert('error');
      }
    }
  }
}
</script>

<style>
.drop-zone {
  border: black 1px dashed;
  border-radius: 0.25rem;
}

.drop-zone:hover {
  border: dodgerblue 1px dashed;
  color: dodgerblue;
}

.drop-zone-drag-over {
  color: aqua;
  border: aqua 1px dashed;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
